<%= form_for(audio) do |f| %>
  <% if audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
      <% audio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :file_name %>
    <%= f.text_field :file_name %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
