<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @audio.user_id %>
</p>

<p>
  <strong>File name:</strong>
  <%= @audio.file_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @audio.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @audio.status %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
